
.content-wrapper {
    background-color: white;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-navigation {
    display: flex;
    border-bottom: 2px solid #5F5F5F;
}

.tab-link {
    padding: 16px 25px;
    text-decoration: none;
    color: #5F5F5F;
    font-size: 18px;
    margin-left: 40px;
}

.tab-link:hover {
    color: #333;
    background-color: #f9f9f9;
}

.tab-link.active {
    color: red;
}


.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    padding: 40px;
}

.product-item {
    width: 290px;
}

.product-item a {
    text-decoration: none;
    color: inherit;
}

.product-image {
    position: relative;
    width: 290px;
    height: 290px;
    background-color: #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.sold-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
}

.product-name {
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

.alert-success-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 4s ease forwards;
}

.alert-error-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 4s ease forwards;
}



@media (max-width: 768px) {
    .products-grid {
        gap: 20px;
        padding: 20px;
    }

    .product-item {
        width: 200px;
    }

    .tab-link {
        padding: 12px 20px;
        font-size: 14px;
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .products-grid {
        gap: 25px;
        padding: 25px;
    }

    .product-item {
        width: 220px;
    }

    .tab-link {
        font-size: 16px;
        margin-left: 20px;
    }
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .products-grid {
        max-width: 1400px;
        margin: 0 auto;
    }

    .tab-link {
        font-size: 20px;
        margin-left: 50px;
    }
}