* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Yu Gothic UI', 'Meiryo UI', sans-serif;
    background-color: white;
    color: #333;
    min-height: 100vh;
}


.header {
    background-color: #000;
    padding: 12px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-link {
    display: inline-block;
    padding: 15px 0;
}

.logo {
    height: 40px;
    width: auto;
}


.main {
    padding: 20px 20px;
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.register-container {
    padding: 10px 40px;
    width: 100%;
    max-width: 680px;
}

.register-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #000000;
}


.register-form {
    width: 100%;
}

.form-group {
    margin-bottom: 30px;
}

.form-label {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #000000;
}

.form-input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
}


.error-message {
    display: block;
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
}


.register-button {
    width: 100%;
    padding: 15px;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 50px;
}



.login-link-container {
    text-align: center;
}

.login-link {
    color: #0073CC;
    text-decoration: none;
    font-size: 16px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {

    .register-container,
    .login-container {
        max-width: 800px;
        padding: 20px 60px;
    }

    .register-title,
    .login-title {
        font-size: 40px;
    }

    .form-label {
        font-size: 22px;
    }

    .form-input {
        font-size: 18px;
        padding: 14px 18px;
    }

    .register-button,
    .login-button {
        font-size: 20px;
        padding: 18px;
    }
}


@media screen and (min-width: 768px) and (max-width: 850px) {

    .register-container,
    .login-container {
        max-width: 90%;
        padding: 15px 30px;
    }

    .register-title,
    .login-title {
        font-size: 32px;
    }

    .form-label {
        font-size: 18px;
    }

    .form-input {
        font-size: 15px;
        padding: 10px 12px;
    }

    .register-button,
    .login-button {
        font-size: 16px;
        padding: 12px;
    }
}